<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
</head>
<body>
<h1>Welcome to the MMCS URM App!</h1>
<p>The current version of the <strong>mmcs_urm</strong> gem is: <%= @gem_version %></p>
<p>Если вы видите этот текст, то у нас получилось подрубить чистый проект и присобачить к нему наш гемчик.</p>

<%= button_to "Homepage", '/urm/index', method: :get%>

</body>
</html>
