
<div style="display: flex; height: 100vh; width: 100%;
 flex-direction:column; align-content: stretch; overflow: ;">
  <div style="background-color: #007bff; color: white; 
  padding: 10px; text-align: center; margin:0px;">URM Machines</div>
  <div style="display: flex; flex-direction:row">
    <div style="width: 50%; border-right: 1px solid #ccc; ">
      
      <div style = "display:flex; flex-direction:column; align-content:center; 
      justify-content:flex-start; height:100vh; margin-top: 20px;
      overflow-y: auto"> <%# todo %>
        
        <% @machines.each do |machine| %>
          <button style="margin-top: 10px; margin-bottom:10px;padding: 20px; 
          border: 3px solid  #007bff; background-color:rgb(243, 243, 243);"
          onmouseover="this.style.backgroundColor='rgb(158, 201, 246)'" 
          onmouseout="this.style.backgroundColor='rgb(243, 243, 243)'"
          onmousedown="this.style.backgroundColor='rgb(138, 187, 240)'"
          onmouseup="this.style.backgroundColor='rgb(158, 201, 246)'" 
          <%# todo  add functionality%>
          >
          <%= machine.name %>
          </button>
        <% end %>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; width: 50%; padding-left: 20px; 
    margin-top: auto; min-height: 100vh;">
      <div style = "height: 70%; border-bottom: 1px solid #ccc;"> <%# todo %>
        <h1><%= @selected_machine&.name %></h1>
        <p style = "background-color: #f3f3f3; min-height: 20vh;"><%= @selected_machine&.description %></p>
        <button>Запустить</button>
        <button>Редактировать</button>
      </div>    
      <div style = "height: 30%;"> <%# todo %>    
        <div style="margin-top: 20px;">
          <button>Создать</button>
          <button>Раскодировать</button>
        </div>
      </div>
    </div>
  </div>
  
</div>