/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
:root{
    --bright-blue: #007bff;
    --light-gray-background: rgb(243, 243, 243);
    --light-blue-background: rgb(158, 201, 246);
    --light-dark-blue-background: rgb(138, 187, 240);
}

 .base-button{
    font-size: 15px;
    border: 3px solid var(--bright-blue);
    background-color: var(--light-gray-background);
    cursor: pointer;
  }
  .base-button:hover{
    background-color: var(--light-blue-background);
  }
  .base-button:active{
    background-color: var(--light-dark-blue-background);
  }